<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/util 
http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="p1" class="com.spring.Person">
		<property name="name" value="tom"></property>
	</bean>
	<bean id="p2" class="com.spring.Person">
		<property name="name" value="jim"></property>
	</bean>
	
	<bean id="people" class="com.spring.People">
		<property name="people" ref="peopleList"></property>
	</bean>
	
	<bean id="peopleList" class="java.util.ArrayList">
    <constructor-arg>
        <list>
            <ref bean="p1"></ref>
			<ref bean="p2"></ref>              
        </list>
    </constructor-arg>
	</bean>

</beans>
